* {
  box-sizing: border-box !important;
}

body.container {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.row {
  padding: 8px 4px;
}

.header {
  font-size: 2em;
  background-color: #215A6D;
  color: #fff;
}

#file-path {
  font-size: 0.5em;
  color: #ddd;
}

#file-path:before {
  content: '(';
}

#file-path:empty:before {
  display: none;
}

#file-path:after {
  content: ')';
}

#file-path:empty:after {
  display: none;
}

.module-header {
  background: #3CA2A2;
}

.module-header h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-size: 1em;
  padding: 4px 2px;
}

#preview {
  /* border: 1px solid #eee; */
  padding: 0 8px;
}

/* Overrides */
.btn-toolbar {
  padding: 4px 0;
  background-color: #eee;
  margin-left: 0;
}

.md-editor {
  border: 1px solid #ddd;
}

textarea {
  border: none;
}

.md-fullscreen-controls, .md-control-fullscreen {
  display: none;
}

.md-editor {
  height: 75%;
}
