* {
  box-sizing: border-box !important;
}

body.container {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow:hidden;
}

.row {
  padding: 8px 4px;
}

.header {
  font-size: 2em;
  background-color: #215A6D;
  color: #fff;
}

#file-path {
  font-size: 0.5em;
  color: #ddd;
}

#file-path:before {
  content: '(';
}

#file-path:empty:before {
  display: none;
}

#file-path:after {
  content: ')';
}

#file-path:empty:after {
  display: none;
}

.module-header {
  background: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.module-header h3 {
  text-transform: uppercase;
  color: #222;
  margin: 0;
  font-size: 0.8em;
  padding: 2px;
  text-shadow:1px 1px #fff;
}

.file-tab {
  cursor: pointer;
  background: #444;
  padding: 0 10px;
  color: #fff;
  font-size: 0.88em;
  border-left: 4px solid transparent;
  height:30px;
  line-height:30px;
}
.file-tab > * {
  vertical-align: middle;
}
.file-tab:hover {
  background: #666;
}
.tab-close:hover {
  color:#ff7272;
}

.toggle-tab-bar {
  color:#ddd;
  line-height: 30px;
  margin-right:10px;
  cursor:pointer;
}
.toggle-tab-bar:hover {
  color:#fff;
}

.file-tab.selected-tab {
  color: #06354D;
  background: #f5f5f5;
  border-left-color: #04ADEA;
}
.file-tab.unsaved {
  border-left-color: #ff7272;
}
.file-name {
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  max-width:160px;
  display: inline-block;
  margin-right: 10px;
}
.preview-container {
  overflow:auto;
}
#preview {
  /* border: 1px solid #eee; */
  padding: 0 8px 0;
}

.new-file {
  color: #ddd;
  cursor: pointer;
  line-height:30px;
  margin-left:10px;
}

.new-file:hover {
  color: #fff;
}

/* Overrides */
.btn-toolbar {
  padding: 4px 0;
  background-color: #eee;
  margin-left: 0;
}

.md-editor {
  border-left:0;
  border-top:0;
}

#tab-bar {
  padding: 0;
  background: #333;
}

.md-editor>textarea {
  border: none;
  padding:10px;
}

.md-fullscreen-controls, .md-control-fullscreen {
  display: none;
}

.md-editor {
  height: 75%;
}
.md-editor.active{
  border:none;
  border-right: 1px solid #ddd;
  box-shadow:none;
}

.row.modules {
  padding: 0;
}

.editor-container {
  padding: 0;
}

.sa-icon {
  box-sizing: content-box !important;
}

.editor-toolbar:before,
.editor-toolbar:after {
  margin-top: 0;
  margin-bottom: 0;
}

.CodeMirror {
  font-family: 'Ubuntu Mono', 'Consolas', 'Roboto Mono', 'Droid Sans Mono', 'Menlo', 'Monaco', 'Fantasque Sans Mono', monospace;
  font-size: 16px;
  color: #444;
}

.cm-s-paper .cm-header {
  color: #444;
}

